---
layout: default
---
<div id="main">

  <section id="one">
    <header class="major"> <h2> Machine learning seminar series </h2> </header>
		<p> Cogsys Talks is a seminar series focused on machine learning and applied mathematics at DTU Compute. The talks are
      given by internal and external speakers, and are gathered by theme.
        <br />
        Everyone is welcome to attend. </p>
		<ul class="actions">
			<li><a href="{{ site.baseurl }}{% link pages/about.md %}" class="button"> About Us</a></li>
      <li><a href="{{ site.baseurl }}{% link pages/schedule.md %}" class="button"> Schedule </a></li>
		</ul>
  </section>


  <!-- <section id="two">
    <div class="row">
      {% for post in site.posts %}
      <article class="{% cycle '6u', '6u$' %} 12u(xsmall)">
        <header>
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section>

        </section>
        <footer>
          <ul class="actions">
            <li><a href="{{ post.url }}" class="button">Read More</a></li>
            <li class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="button"><strong>&#9998;</strong> Edit post</a></li>
          </ul>
        </footer>
      </article>
      {% endfor %}
    </div>
  </section> -->


  <section id="two">
  <h2>Upcoming Events</h2>
  <p></p>
      <div class="row">
        {% for post in site.posts %}
        {% if post.tags contains 'upcoming' %}
          <article class="{% cycle '6u', '6u$' %} 12u(xsmall)">
            <a href="{{ post.url }}" class="image fit thumb"><img src="{{ post.image }}" alt="" /></a>
            <p> {{ post.title }} - {{post.date_event | date_to_long_string }} </p>
          </article>
        {% endif %}
        {% endfor %}
      </div>
  </section>

  <section id="three">
  <h2>Past Events</h2>
  <p></p>
      <div class="row">
        {% for post in site.posts %}
        {% if post.tags contains 'past' %}
          <article class="{% cycle '6u', '6u$' %} 12u(xsmall)">
            <a href="{{ post.url }}" class="image fit thumb"><img src="{{ post.image }}" alt="" /></a>
            <p> {{ post.title }} - {{post.date_event | date_to_long_string }} </p>
          </article>
        {% endif %}
        {% endfor %}
      </div>
  </section>




  <section id="four">
    <h2>Get In Touch</h2>
    <p> We are always looking for amazing speakers, volunteers and sponsors.
      If you have questions or suggestions, please drop us an email </p>
    <div class="row">
      <div class="8u 12u$(xsmall)">
        <form method="post"action="mailto:cogsystalks@gmail.com?subject=We%20want%20to%20get%20in%20touch" enctype="text/plain" onsubmit="location.href='thanks.html';">
          <div class="row uniform 50%">
            <div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name"></div>
            <div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email"></div>
            <div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
          </div>
        <ul class="actions">
          <li><input type="submit" name = "submit" value="Send Message"></li>
        </ul>
        </form>
      </div>
      <div class="4u$ 12u$(small)">
        <ul class="labeled-icons">
          <li>
            <h3 class="icon fa-home"><span class="label">Address</span></h3>
            Technical University of Denmark</br>
            Richard Petersens Plads</br>
            Bygning 321, rum 133</br>
            2800 Kgs. Lyngby
          </li>
          <li>
            <h3 class="icon fas fa-user"><span class="label">Person1</span></h3>
            <a href="https://www.dtu.dk/english/service/phonebook/person?id=150066&cpid=278391&tab=0">Alison Pouplin</a>
           </br>
            <h3 class="icon fas fa-user"><span class="label">Person2</span></h3>
            <a href="https://www.dtu.dk/service/telefonbog/person?id=115952&cpid=260886&tab=0">Federico Bergamin</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

</div>
